/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0edf0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #e0f7fa;
  padding: 30px;
  margin-top: 10px; /* Ajuste para bajar el color desde el encabezado */
}

header img {
  width: 150px;
  border-radius: 50%;
  margin-right: 0px;
  border: 2px solid #00796b;
}

.header-info h1 {
  margin: 15px;
  font-size: 32px; /* Ajuste del tamaño de la fuente para el nombre */
  color: #00796b;
}

.header-info p {
  margin: 1px 15px;
  font-size: 18px; /* Ajuste del tamaño de la fuente para la descripción */
  color: #004d40;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-section, .right-section {
  flex: 1;
  min-width: 300px;
}

.left-section {
  background-color: #c0f2f8; /* Color más oscuro que el encabezado */
  padding: 20px;
  margin-top: -20px; /* Ajuste para bajar el color desde el encabezado */
}

.left-section h2, .right-section h2 {
  margin-top: 0;
  color: #333;
}

.left-section a, .right-section a {
  color: black; /* Color inicial de los enlaces */
  text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.left-section a:hover, .right-section a:hover {
  color: blue; /* Cambia el color a azul cuando el mouse pasa sobre los enlaces */
}

.left-section ul, .right-section ul {
  list-style: none;
  padding: 0;
}

.left-section ul li, .right-section ul li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }


  header img {
    margin: 0;
    margin-bottom: 10px;
  }

  .content {
    flex-direction: column;
  }

  .left-section, .right-section {
    min-width: 100%;
  }
}

/* Estilos específicos para mostrar u ocultar secciones en diferentes dispositivos */
@media (min-width: 769px) {
  .tarjeta {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
 
}
.tarjeta .header-info h1 {
  margin: 30px 50px; 
  font-size: 25px; /* Ajuste del tamaño de la fuente para el nombre */
  color: #00796b;
}

.tarjeta .header-info p {
  margin: -7% 50px 50px;
  font-size: 15px; /* Ajuste del tamaño de la fuente para la descripción */
  color: #000000;
}
.frase{
  margin: -10% 50px 80px;
  font-size: 11px; /* Ajuste del tamaño de la fuente para la descripción */

}
.redes{
  margin: -14% 50px 80px;
  font-size: 12px; 
}

.redes a {
  color: black; /* Color de los enlaces en la tarjeta */
  margin-right: 10px; /* Separación entre los enlaces */
  text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
}
