/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la vista de escritorio (currículum) */
#curriculum {
    display: none; /* Ocultar en dispositivos móviles */
}

/* Estilos para la vista móvil (tarjeta de presentación) */
@media (max-width: 768px) {
    #curriculum {
        display: block; /* Mostrar solo en dispositivos móviles */
    }
    #tarjeta {
        display: none; /* Ocultar en escritorio */
    }
}
